/**
 * The following styles get applied inside the editor only.
 */

.wp-block-mbs-countdown-block {
	.countdown-block__placeholder {
		background: #f9f9f9;
		border: 2px dashed #ddd;
		color: black;

		&:hover {
			border-color: #999;
		}
	}

	p {
		margin-block-start: 0;
	}
}
